* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    
}

.layout {
    display: flex;
    flex-grow: 1; 
    height: 100vh;
}

.logo {
    background-color: #b0d0a0;
    padding: 30px;
    text-align: center;
    width: 25%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo img {
    width: 100%;
}

.form-container {
    width: 75%;
    padding: 80px;
    background-color: #f8f7fc;
}

.tab {
    display: flex;
    border-bottom: 2px solid #c4c4c4;
    margin-bottom: 20px;
}

.tab-button {
    background-color: #f8f7fc; 
    color: #333; 
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-bottom: 2px solid transparent;
    transition: background-color 0.3s, color 0.3s;
}

.tab-button.active {
    background-color: #e1eddf; 
    color: #333;
    border-bottom: 2px solid #7db86d;
    font-weight: bold;
}

.tab-button:hover {
    background-color: hsla(0, 0%, 92%, 0.877);
    color: #333;
}

.tab-content form {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 35px;
}

.tab-content form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px; 
}

#Fisica{
    padding-top: 45px;

}

label {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px; 
}

input, select {
    padding: 14px; 
    border: 1px solid grey;
    border-radius: 6px;
    width: 90%; 
}

button {
    padding: 14px; 
    background-color: #9fbf7f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
}

button:hover {
    background-color: #88a564;
}

.submit{
    width: 90%;
}

/* Responsividade apenas para mobile */
@media (max-width: 768px) {
    .layout {
        flex-direction: column;
        align-items: center;
    }
    
    .logo {
        width: 100%;
        padding: 20px;
    }

    .logo img {
        max-width: 270px;
        margin: 0 auto;
    }

    .form-container {
        width: 100%;
        padding: 40px 20px;
    }
    
    .tab-content form {
        grid-template-columns: 1fr;
        margin-left: 40px;
    }

    .tab-button {
        padding: 8px 16px;
        font-size: 14px;
    }

    input, select {
        
        width: 90%;
        padding: 12px;
        font-size: 14px;

    }

    button {
        font-size: 16px;
        padding: 12px;
    }

    .submit {
        width: 90%;
    }
}

/* Modal */
.modal {
    display: none; /* Escondido por padrão */
    position: fixed; /* Fixa no topo */
    z-index: 1000; /* Alta prioridade para sobrepor a página */
    top: 0;
    left: 0;
    width: 100%; /* Largura completa */
    height: 100%; /* Altura completa */
    background-color: rgba(0,0,0,0.4); /* Fundo preto com opacidade */
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* Centraliza verticalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px; /* Limita o tamanho em telas maiores */
    box-shadow: 0 5px 15px rgba(0,0,0,0.3); /* Sombra para destacar */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

/* Estilo para o botão OK no modal */
#modal-ok {
    background-color: #4CAF50; /* Verde */
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

#modal-ok:hover {
    background-color: #45a049;
}