* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
   
}

.layout {
    display: flex;
    flex-grow: 1; 
    height: 100vh;
}

.logo {
    background-color: #b0d0a0;
    padding: 30px;
    text-align: center;
    width: 35%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo img {
    width: 100%;
}


.formulario-layout {
    padding: 255px;
    width: 60%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #003b1e;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
}

input {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 15px;
    background-color: #9fbf7f;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #88a564;
}

.links {
    margin-top: 32px;
    font-size: 17px;
    text-align: center;
    font-weight: bold;
}

/* Responsividade apenas para mobile */
@media (max-width: 768px) {
    .layout {
        flex-direction: column;
    }
    
    .logo {
        width: 100%;
        padding: 10px;
    }
    
    .logo img {  
        max-width: 270px;
    }
    
    .formulario-layout {
        margin-left: 45px;
        width: 85%;
        padding: 40px 20px;
    }
    
    h1 {
        font-size: 24px;
    }
    
    input, button {
        font-size: 16px;
        width: 100%;
    }
    
    .links {
        font-size: 15px;
    }
}

