* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: Arial, sans-serif;
}

header {
    background-color: #b0d0a0;;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

header img {
    height: 100%;
}

.botão-voltar, .botão-deslogar {
    background-color: transparent;
    border: none;
    font-size: 24px;
    
}

.botão-voltar img {
    height: 85px;
     
 }
 .botão-deslogar img {
   height: 85px;
    
}

h2 {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 35px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #f4f4f4;
}

.item {
    display: flex;
    align-items: center;
}

.icon {
    width: 30px;
    height: 30px;
    background-color: #4CAF50;
    border-radius: 50%;
    color: white;
    text-align: center;
    line-height: 30px;
    margin-right: 10px;
}

.paginas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.paginas a, .paginas span {
    padding: 10px;
    margin: 0 5px;
    text-decoration: none;
    color: #4CAF50;
}

.paginas .active {
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
}

button.seguir {
    background-color: #4CAF50;
    color: white;
    padding: 13px 27px; 
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-top: 5px;
}


.container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
}

/*Responsividade apenas para mobile */
@media (max-width: 768px) {
    .header {
        padding: 15px;
    }

    .botão-voltar img, .botão-deslogar img {
        height: 50px;
    }


    h2.title {
        font-size: 20px; 
        text-align: center;
    }

    .container {
        width: 90%;
        padding: 10px;
    }

    table {
        font-size: 16px; 
    }

    table th, table td {
        padding: 10px; 
        
    }

    .item {
        
        align-items: flex-start;
    }

    .icon {
        width: 25px;
        height: 25px;
        line-height: 25px;
        font-size: 14px;
        margin-right: 10px;
        margin-bottom: 8px;
    }

    

    button.seguir {
        width: 100%; 
        padding: 10px;
        font-size: 16px;
        margin-top: 10px;
    }
}

/* Modal */
.modal {
    display: none; /* Escondido por padrão */
    position: fixed; /* Fixa no topo */
    z-index: 1000; /* Alta prioridade para sobrepor a página */
    top: 0;
    left: 0;
    width: 100%; /* Largura completa */
    height: 100%; /* Altura completa */
    background-color: rgba(0,0,0,0.4); /* Fundo preto com opacidade */
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* Centraliza verticalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px; /* Limita o tamanho em telas maiores */
    box-shadow: 0 5px 15px rgba(0,0,0,0.3); /* Sombra para destacar */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

/* Estilo para o botão OK no modal */
#modal-ok {
    background-color: #4CAF50; /* Verde */
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

#modal-ok:hover {
    background-color: #45a049;
}

