* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: white;
}

header {
    background-color: #b0d0a0;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centraliza verticalmente os elementos */
}

header img {
    height: auto;
    max-width: 500px; /* Limita o tamanho da logo em telas maiores */
}

.botão-voltar, .botão-deslogar {
    background-color: transparent;
    border: none;
    font-size: 24px;
}

.botão-voltar img, .botão-deslogar img {
    height: 85px;
}

.texto {
    text-align: center;
    padding: 20px;
}

.texto h1 {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 45px;
}

.texto h2 {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 35px;
}

.texto h3 {
    margin-top: 10px;
    font-weight: 200;
    font-size: 20px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container form {
    text-align: left;
    font-size: 30px;
    padding: 40px;
    border-radius: 10px;
}

.calendario {
    margin-left: 220px;
    background-color: #c9c9dd69;
    width: 25%;
}

.form-container form select, 
.form-container form input[type="date"] {
    width: 70%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #334969;
}

.form-container button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #A3C585;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #8bb770;
}

/* Responsividade apenas para mobile */
@media (max-width: 768px) {
    .header {
        padding: 15px;
    }

    .botão-voltar img, .botão-deslogar img {
        height: 50px; /* Ajusta o tamanho dos botões de voltar e deslogar */
    }

    .texto h1 {
        font-size: 30px;
    }

    .texto h2 {
        font-size: 24px;
    }

    .texto h3 {
        font-size: 16px;
    }

    .form-container {
        flex-direction: column;
        padding: 10px;
    }

    .form-container form {
        width: 90%;
        padding: 20px;
        font-size: 16px;
    }

    .calendario {
        margin-left: 0;
        width: 100%;
        background-color: #e0e0f5;
        margin-top: 20px;
    }

    .form-container form select, 
    .form-container form input[type="date"] {
        width: 100%;
        font-size: 14px;
    }

    .form-container button {
        width: 100%;
        font-size: 16px;
    }
}
